.blocker {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2147483638;
    background: #202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.logo-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 10%;
}
.logo {
    width: 100%;
    height: 100%;
}
.text-container {
    color: #aaa;
    max-width: 300px;
    font-size: 2rem;
    text-align: center;
}
